a {
  text-decoration: none;
}
a:hover {
  color: blue !important;
}
.footer_bg {
  background-color: rgb(248, 248, 248);
  border: none;
}
.icon1,
.icon2,
.icon3,
.icon4 {
  font-size: 25px;
}
.icon1:hover {
  color: rgb(0, 179, 255) !important;
}
.icon2:hover {
  color: blue !important;
}
.icon3:hover {
  color: rgb(255, 0, 128) !important;
}
.icon4:hover {
  color: rgb(191, 0, 255) !important;
}
@media (min-width: 768px) {
  .space-between {
    justify-content: space-between;
  }
}
