<footer class="footer_bg">
  <div class="text-center row col-12 ps-4">
    <div class="col-md-12 col-xl-4 pb-4 pt-4">
      <h2>ADDRESS</h2>
      <a
        class="text-dark"
        href="https://www.bing.com/search?q=ntt+data+italia&qs=LS&pq=ntt+&sk=LS1&sc=10-4&cvid=E77E2D3AF1E94A949915C4DA32C53EA7&FORM=QBRE&sp=2&ghc=1&lq=0"
        >CORSO FRANCESCO FERRUCCI 112 <br />
        - 10138 Torino (TO)</a
      >
    </div>
    <div class="text-center col-md-12 col-xl-4 pb-4 pt-4">
      <div>
        <h2>CONTACTS</h2>
        <a class="text-dark" href="tel:+39 32000001"
          ><fa-icon [icon]="faPhone" class="text-primary pe-2"></fa-icon>+39
          32000001</a
        >
      </div>
      <div class="pt-2">
        <a class="text-dark" href="mailto:robert.boboc@emeal.nttdata.com"
          ><fa-icon [icon]="faMail" class="text-primary pe-2"></fa-icon
          >robert.boboc@emeal.nttdata.com</a
        >
      </div>
    </div>
    <div class="col-md-12 col-xl-4 pb-4 pt-4">
      <h2>FOLLOW ME</h2>
      <div>
        <a href="#">
          <fa-icon
            [icon]="faTwitter"
            class="text-secondary pe-4 icon1"
          ></fa-icon>
        </a>
        <a href="#">
          <fa-icon
            [icon]="faFacebook"
            class="text-secondary pe-4 icon2"
          ></fa-icon>
        </a>
        <a href="#">
          <fa-icon
            [icon]="faInstagram"
            class="text-secondary pe-4 icon3"
          ></fa-icon
        ></a>
        <a href="#">
          <fa-icon [icon]="faGitHub" class="text-secondary icon4"></fa-icon>
        </a>
      </div>
    </div>
  </div>

  <!-- <hr /> -->
  <div class="pt-5 pb-5 bg-white">
    <div class="container">
      <div class="row">
        <div class="col-md text-center">
          <div
            class="d-flex flex-column flex-md-row align-items-center space-between"
          >
            <div class="text-secondary">
              Copyright &copy; <a href="#" class="border-0">Boboc</a> 2023 | All
              Rights Reserved
            </div>
            <div class="text-center text-md-start mt-3 mt-md-0">
              <a href="#" class="text-secondary me-3 me-md-0">Term & Policy</a>
              <span class="text-secondary">|</span>
              <a href="#" class="text-secondary ms-3 ms-md-0">Disclaimer</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
