.navbar {
  background: transparent;
  transition: background 1s, color 1s;
  z-index: 1;
}

.navbar.scrolled {
  background: black;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  animation: slideDown 0.5s ease;
}
a {
  color: white;
}

.navbar.scrolled a:hover {
  color: #0d6efd;
}

a:hover {
  color: #0d6efd;
}
.navbar-toggler {
  border: none;
}
* {
  font-size: 20px;
  font-weight: 500;
}
.bg-light1 {
  background-color: white;
}
.bg-light1 a {
  color: black !important;
}
.bg-light1 a:hover {
  color: #0d6efd !important ;
}

.navbar.scrolled a {
  color: white !important;
}
.navbar.scrolled a:hover {
  color: #0d6efd !important;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.baricon {
  color: white;
}
.bg-light1 .baricon {
  color: black;
}
.navbar.scrolled .baricon {
  color: white !important;
}
a:focus {
  color: #0d6efd !important;
}

.navbar.scrolled a:focus {
  color: #0d6efd !important;
}
.bg-light1 a:focus {
  color: #0d6efd !important;
}

.icon1:hover {
  color: rgb(0, 179, 255) !important;
}
.icon2:hover {
  color: blue !important;
}
.icon3:hover {
  color: rgb(255, 0, 128) !important;
}
.icon4:hover {
  color: rgb(191, 0, 255) !important;
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
