<div class="pt-5 bg-light">
  <div class="text-center div_testo pt-5 pb-5 bg-light">
    <h1 class="bg_text text_bg"><b>CONTACT</b></h1>
    <h1 class="text-dark text_bg front_text fs-1"><b>Get in Touch</b></h1>
    <p class="line"></p>
  </div>
  <div class="bg-light pt-5 pb-5 container">
    <div class="text-center row col-12 ps-4 bg-light pb-5">
      <div class="col-md-4 col-xl-4 col-sm-12 bg-light">
        <div class="pb-4 pt-4 bg-light">
          <h2 class="fs-4">ADDRESS</h2>
          <a
            class="text-dark"
            href="https://www.bing.com/search?q=ntt+data+italia&qs=LS&pq=ntt+&sk=LS1&sc=10-4&cvid=E77E2D3AF1E94A949915C4DA32C53EA7&FORM=QBRE&sp=2&ghc=1&lq=0"
            >CORSO FRANCESCO FERRUCCI 112 <br />
            - 10138 Torino (TO)</a
          >
        </div>
        <div class="text-center pb-4 pt-4 bg-light">
          <div class="bg-light">
            <h2 class="fs-4">CONTACTS</h2>
            <a class="text-dark" href="tel:+39 32000001"
              ><fa-icon [icon]="faPhone" class="text-primary pe-2"></fa-icon>+39
              32000001</a
            >
          </div>
          <div class="pt-2 bg-light">
            <a class="text-dark" href="mailto:robert.boboc@emeal.nttdata.com"
              ><fa-icon [icon]="faMail" class="text-primary pe-2"></fa-icon
              >robert.boboc@emeal.nttdata.com</a
            >
          </div>
        </div>
        <div class="pb-4 pt-4 bg-light">
          <h2 class="fs-4">FOLLOW ME</h2>
          <div class="bg-light">
            <a href="#">
              <fa-icon
                [icon]="faTwitter"
                class="text-secondary pe-4 icon1"
              ></fa-icon>
            </a>
            <a href="#">
              <fa-icon
                [icon]="faFacebook"
                class="text-secondary pe-4 icon2"
              ></fa-icon>
            </a>
            <a href="#">
              <fa-icon
                [icon]="faInstagram"
                class="text-secondary pe-4 icon3"
              ></fa-icon
            ></a>
            <a href="#">
              <fa-icon [icon]="faGitHub" class="text-secondary icon4"></fa-icon>
            </a>
          </div>
        </div>
      </div>
      <!-- UPGRADED FORM  -->
      <div class="col-md-8 col-xl-8 col-sm-12 pb-4 pt-4 bg-light">
        <h2 class="fs-4">SEND US A NOTE</h2>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="row">
          <div class="mb-3 col-md-6 bg-light">
            <input
              type="text"
              class="form-control p-2"
              id="name"
              placeholder="Name"
              formControlName="name"
            />
            <div
              *ngIf="
                contactForm.get('name')?.invalid &&
                contactForm.get('name')?.touched
              "
              class="alert alert-danger"
            >
              Name is required and must be at least 3 characters long.
            </div>
          </div>

          <div class="mb-3 col-md-6 bg-light">
            <input
              type="email"
              class="form-control p-2"
              id="email"
              placeholder="Email"
              formControlName="email"
            />
            <div
              *ngIf="
                contactForm.get('email')?.invalid &&
                contactForm.get('email')?.touched
              "
              class="alert alert-danger"
            >
              Email is required and must be a valid email address.
            </div>
          </div>

          <div class="mb-3 bg-light">
            <textarea
              class="form-control p-3"
              id="message"
              rows="5"
              placeholder="Tell us more about your needs..."
              formControlName="message"
            ></textarea>
            <div
              *ngIf="
                contactForm.get('message')?.invalid &&
                contactForm.get('message')?.touched
              "
              class="alert alert-danger"
            >
              Message is required and must be at least 5 characters long.
            </div>
          </div>

          <div class="text-center bg-light">
            <button
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#modal"
              class="btn btn-primary rounded-pill pt-3 pb-3 ps-4 pe-4 shadow submit-btn"
              [disabled]="contactForm.invalid"
            >
              Send Message
            </button>
            <div
              class="modal fade bg-dark"
              id="modal"
              tabindex="-1"
              aria-labelledby="exampleModalLabel3"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-lg pt-0 pb-0 rounded-3">
                <div class="modal-content pt-4 pb-0">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5 text-dark" id="exampleModalLabel">
                      DATI APPENA INVIATI
                    </h1>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body pt-0 pb-5">
                    <div class="container pt-0 pb-0">
                      <p>
                        Name:
                        <span id="modalName">{{ contactForm.value.name }}</span>
                      </p>
                      <p>
                        Email:
                        <span id="modalEmail">{{
                          contactForm.value.email
                        }}</span>
                      </p>
                      <p>
                        Message:
                        <span id="modalMessage">{{
                          contactForm.value.message
                        }}</span>
                      </p>
                    </div>
                    <p>
                      <span id="modalSucces"
                        ><strong>{{ successMessage }}</strong></span
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="pt-5 bg-white bottom-0">
    <div class="container">
      <div class="row">
        <div class="col-md text-center">
          <div
            class="d-flex flex-column flex-md-row align-items-center space-between"
          >
            <div class="text-secondary">
              Copyright &copy; <a href="#" class="border-0">Boboc</a> 2023 | All
              Rights Reserved
            </div>
            <div class="text-center text-md-start mt-3 mt-md-0">
              <a href="#" class="text-secondary me-3 me-md-0">Term & Policy</a>
              <span class="text-secondary">|</span>
              <a href="#" class="text-secondary ms-3 ms-md-0">Disclaimer</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
