div {
  background-color: white;
  text-align: center;
}
.div_testo {
  position: relative;
}
.text_bg {
  position: absolute;
  width: 100%;
}

h1 {
  color: rgba(0, 0, 0, 0.068);
  bottom: 0;
}
.line {
  background-color: rgb(14, 93, 240);
  height: 4px;
  width: 100px;
  text-align: center;
  position: absolute;
  margin-left: 10px;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}
.front_text {
  font-size: 2rem;
}

a {
  text-decoration: none;
}

.bg_text {
  font-size: 6rem;
}
.bg_text2 {
  font-size: 5rem;
}
@media (max-width: 767px) {
  .div_testo {
    padding-bottom: 1rem;
    padding-top: 2rem;
  }
  .bg_text {
    font-size: 4rem;
  }
  .bg_text2 {
    font-size: 4rem;
  }
  .table_data {
    padding-left: 50px;
  }
}
@media (max-width: 500px) {
  .bg_text {
    font-size: 4rem;
  }
  .bg_text2 {
    font-size: 3.5rem;
  }
}
@media (max-width: 375px) {
  .bg_text {
    font-size: 3rem;
  }
  .bg_text2 {
    font-size: 2rem;
  }
}

p {
  font-size: 18px;
}

.bg_second {
  background-color: aliceblue;
}

/*New code*/
.close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  z-index: 1;
}

.carousel-controls {
  text-align: center;
}

.control-button {
  border: none;
  background-color: transparent;
}

.control-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(188, 181, 181);
  transition: background-color 0.2s;
}

.control-circle.active {
  background-color: #0d6efd;
}

h2 {
  font-size: 18px;
}
a {
  text-decoration: none;
}
a:hover {
  color: #0d6efd !important;
}

.icon {
  font-size: 17px;
}

button {
  border: none;
}
.filter-button {
  color: grey;
}
.active2 {
  color: #0d6efd;
  border-bottom: 2px solid #0d6efd;
  border-radius: 0;
}
.img-button {
  width: 70%;
}
.card {
  width: 60%;
  border: none;
  border-radius: 5px;
}
@media (min-width: 1200px) {
  .card {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .card {
    width: 70%;
  }
}
@media (max-width: 500px) {
  .card {
    width: 90%;
  }
}
.user-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

.review-user {
  display: flex;
  align-items: start;
}
.bg-color {
  background-color: #f8f9fa;
}
.star {
  font-size: 15px;
}
* {
  font-family: Poppins, sans-serif;
}