<div class="pt-5">
  <div class="text-center div_testo">
    <h1 class="bg_text text_bg" id="about-me"><b>ABOUT ME</b></h1>
    <h1 class="text-dark text_bg front_text"><b>Know Me More</b></h1>
    <p class="line"></p>
  </div>

  <div class="row col-12">
    <div class="testo col-sm-12 col-xl-8 col-md-6 pb-0">
      <h1 class="text-dark text-start ps-5 pe-5">
        <b>
          I'm <span class="text-primary">Robert George Boboc, </span>a Web
          Developer
        </b>
      </h1>
      <div class="ps-5 pe-5 pt-0 text-start">
        <h3>
          I help you build brand for your business at an affordable price.
          Thousands of clients have procured exceptional results while working
          with our dedicated team. when an unknown printer took a galley of type
          and scrambled it to make a type specimen book.
        </h3>
        <h3>
          Delivering work within time and budget which meets client’s
          requirements is our moto. Lorem Ipsum has been the industry's standard
          dummy text ever when an unknown printer took a galley.
        </h3>
      </div>
    </div>
    <div class="table_data text-start pe-5 col-sm-12 col-xl-4 col-md-6">
      <h3><b>Name:</b> Robert George Boboc</h3>
      <hr />
      <h3>
        <b>Email: </b>
        <a class="" href="mailto:robert.boboc@emeal.nttdata.com"
          >robert.boboc@emeal.nttdata.com</a
        >
      </h3>
      <hr />
      <h3><b>Age:</b> 22</h3>
      <hr />
      <h3 class="pb-3"><b>From:</b> Turin, Italy</h3>
      <a
        class="btn btn-primary rounded-5 ps-5 pe-5 pt-3 pb-3 shadow-sm"
        href="/src/assets/pdf/CV_Boboc.pdf"
        download
      >
        Download CV
      </a>
    </div>
  </div>

  <div class="container text-center pb-5 pt-0 ps-5 pe-5">
    <div class="row row-cols-4 pt-0">
      <div class="col-md-3 col-sm-6 col-6 bord-1">
        <h1 class="container_text fw-medium">1+</h1>
        <p>Years Experience</p>
      </div>
      <div class="col-md-3 col-sm-6 col-6 bord-2">
        <h1 class="container_text fw-medium">10+</h1>
        <p>Happy Clients</p>
      </div>
      <div class="col-md-3 col-sm-6 col-6 bord-3">
        <h1 class="container_text fw-medium">20+</h1>
        <p>Projects Done</p>
      </div>
      <div class="col-md-3 col-sm-6 col-6 bord-4">
        <h1 class="container_text fw-medium">1</h1>
        <p>Get Award</p>
      </div>
    </div>
  </div>
</div>
<div class="pt-5 bg_second">
  <div class="text-center div_testo bg_second">
    <h1 class="bg_text text_bg pb-1" id="services"><b>SERVICES</b></h1>
    <h1 class="text-dark text_bg front_text"><b>What I Do ?</b></h1>
    <p class="line"></p>
  </div>

  <div class="pb-5 pt-0 ps-5 bg_second">
    <div class="row row-cols-2 pt-0 bg_second">
      <div class="bg_second row cell pt-0 pb-0">
        <div class="col-3 bg_second icon_contenitor">
          <fa-icon [icon]="faPalette" class="icon shadow"></fa-icon>
        </div>
        <div class="col-9 bg_second">
          <h1 class="text-dark fw-medium text-start">Graphic Design</h1>
          <p class="text-start">
            Lisque persius interesset his et, in quot quidam persequeris vim, ad
            mea essent possim iriure.
          </p>
        </div>
      </div>
      <div class="bg_second row cell pt-0 pb-0">
        <div class="col-3 bg_second icon_contenitor">
          <fa-icon [icon]="faDesktop" class="icon shadow"></fa-icon>
        </div>
        <div class="col-9 bg_second">
          <h1 class="text-dark fw-medium text-start">Web Design</h1>
          <p class="text-start">
            Lisque persius interesset his et, in quot quidam persequeris vim, ad
            mea essent possim iriure.
          </p>
        </div>
      </div>
      <div class="bg_second row cell pt-0 pb-0">
        <div class="col-3 bg_second icon_contenitor">
          <fa-icon [icon]="faPenRuler" class="icon shadow"></fa-icon>
        </div>
        <div class="col-9 bg_second">
          <h1 class="text-dark fw-medium text-start">UI/UX Design</h1>
          <p class="text-start">
            Lisque persius interesset his et, in quot quidam persequeris vim, ad
            mea essent possim iriure.
          </p>
        </div>
      </div>
      <div class="bg_second row cell pt-0 pb-0">
        <div class="col-3 bg_second icon_contenitor">
          <fa-icon [icon]="faPaintBrush" class="icon shadow"></fa-icon>
        </div>
        <div class="col-9 bg_second">
          <h1 class="text-dark fw-medium text-start">App Design & Develop</h1>
          <p class="text-start">
            Lisque persius interesset his et, in quot quidam persequeris vim, ad
            mea essent possim iriure.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pt-5">
  <div class="text-center div_testo">
    <h1 class="bg_text text_bg pb-1" id="summary"><b>SUMMARY</b></h1>
    <h1 class="text-dark text_bg front_text"><b>Resume</b></h1>
    <p class="line"></p>
  </div>
  <div class="container d-flex justify-content-center pt-0 pb-0 ps-0 pe-0">
    <div class="ps-5 row gx-5 pb-0">
      <div class="col-md-6">
        <h2 class="text-start fs-3">My Education</h2>
        <div class="cell pt-0 pb-4">
          <div class="card">
            <div class="card-body text-start pt-0">
              <button class="btn btn-primary no-click">2015 - 2020</button>
              <h2 class="text-dark pt-3">Computer Science</h2>
              <h3 class="text-danger">
                Amaldi Sraffa Institute of Higher Education
              </h3>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="cell pt-0 pb-4">
          <div class="card">
            <div class="card-body text-start pt-0">
              <button class="btn btn-primary no-click">2020 - 2022</button>
              <h2 class="text-dark pt-3">Web & Mobile developer</h2>
              <h3 class="text-danger">
                ITS ICT Foundation for Information and Communication
                Technologies
              </h3>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h2 class="text-start fs-3">My Experience</h2>
        <div class="cell pt-0 pb-4">
          <div class="card">
            <div class="card-body text-start pt-0">
              <button class="btn btn-primary no-click">2022 - 2023</button>
              <h2 class="text-dark pt-3">Front-End developer</h2>
              <h3 class="text-danger">Wave Informatica s.r.l.</h3>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="cell pt-0 pb-4">
          <div class="card">
            <div class="card-body text-start pt-0">
              <button class="btn btn-primary no-click">2023 - now</button>
              <h2 class="text-dark pt-3">
                Stage (Back-End & Front-End Developer)
              </h2>
              <h3 class="text-danger">NTT DATA</h3>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container d-flex justify-content-center pt-0 pb-0 pe-0 ps-0">
    <div class="pe-5 row gx-5 pt-0">
      <h2 class="text-start fs-3 pt-0 pb-0">My Skills</h2>
      <div class="col-md-6 pt-1 pb-0">
        <div class="cell pt-0 pb-4 text-start">
          <h2 class="percent-text">
            Web Design
            <span style="margin-left: auto">70%</span>
          </h2>
          <progressbar
            [value]="progressValueWeb"
            [max]="maxValue"
            class="custom-progress"
          ></progressbar>
        </div>
        <div class="cell pt-0 pb-0">
          <div class="cell pt-0 pb-4 text-start">
            <h2 class="percent-text">Javascript <span>40%</span></h2>
            <progressbar
              [value]="progressValueJs"
              [max]="maxValue"
              class="custom-progress"
            ></progressbar>
          </div>
        </div>
        <div class="cell pt-0 pb-4">
          <div class="cell pt-0 pb-4 text-start">
            <h2 class="percent-text">Angular <span>50%</span></h2>
            <progressbar
              [value]="progressValueAngular"
              [max]="maxValue"
              class="custom-progress"
            ></progressbar>
          </div>
        </div>
      </div>
      <div class="col-md-6 pt-1 pb-0">
        <div class="cell pt-0 pb-4 text-start">
          <h2 class="percent-text">
            HTML/CSS
            <span style="margin-left: auto">85%</span>
          </h2>
          <progressbar
            [value]="progressValueHtml"
            [max]="maxValue"
            class="custom-progress"
          ></progressbar>
        </div>
        <div class="cell pt-0 pb-0">
          <div class="cell pt-0 pb-4 text-start">
            <h2 class="percent-text">Bootstrap <span>75%</span></h2>
            <progressbar
              [value]="progressValueBootstrap"
              [max]="maxValue"
              class="custom-progress"
            ></progressbar>
          </div>
        </div>
        <div class="cell pt-0 pb-4">
          <div class="cell pt-0 pb-4 text-start">
            <h2 class="percent-text">React Native <span>40%</span></h2>
            <progressbar
              [value]="progressValueReact"
              [max]="maxValue"
              class="custom-progress"
            ></progressbar>
          </div>
        </div>
      </div>
      <div class="text-center pt-4">
        <a
          class="btn btn-outline-secondary rounded-pill shadow-none pt-3 pb-0 pb-0 ps-5 pe-5"
          href="/src/assets/pdf/CV_Boboc.pdf"
          download=""
          ><h2>Download CV <fa-icon [icon]="faDownload" class=""></fa-icon></h2>
        </a>
      </div>
    </div>
  </div>
</div>
